@model SpeedyFood.Models.ViewModels.OrderViewModel
@using SpeedyFood.Utility

<form method="post" asp-action="PickupOrders" asp-controller="Order" asp-route-orderId="@Model.OrderHeader.Id">
    <div class="container row border backgroundWhiteBorder10Padding ml-1">
        <div class="col-lg-8 col-12 borderRight">
            <br />
            <input type="hidden" asp-for="OrderHeader.Id" />
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="OrderHeader.PickUpName"></label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.PickUpName" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="OrderHeader.PhoneNumber"></label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.PhoneNumber" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="OrderHeader.ApplicationUser.Email"></label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.ApplicationUser.Email" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="OrderHeader.OrderDate"></label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.OrderDate" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label>Comments</label>
                </div>
                <div class="col-9">
                    <input asp-for="OrderHeader.Comments" disabled class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-12">
            <h4 class="d-flex justify-content-between align-content-center mb-3">
                <span class="text-muted">Order ID</span>
                <span class="badge badge-secondary badge-pill">@Model.OrderHeader.Id</span>
            </h4>
            <ul class="list-group">
                @foreach (var item in Model.OrderDetailsList)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6 class="my-0">@item.MenuItem.Name</h6>
                            <small class="text-muted">Quantity: @item.Count</small>
                        </div>
                        <span class="text-muted">@(item.MenuItem.Price * item.Count) EGP</span>
                    </li>
                }
                @if (Model.OrderHeader.CouponCode != null)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div class="text-success">
                            <h6 class="my-0">Promo Code</h6>
                            <small class="text-success">@Model.OrderHeader.CouponCode</small>
                        </div>
                        <span class="text-success">- @(Model.OrderHeader.OrderTotalBeforeCoupon - Model.OrderHeader.OrderTotal) EGP</span>
                    </li>
                }

                <li class="list-group-item d-flex justify-content-between bg-light">
                    <small class="text-info">Total (EGP) </small>
                    <strong class="text-info">@Model.OrderHeader.OrderTotal EGP</strong>
                </li>
            </ul>
            <br />
            @if (Model.OrderHeader.Status.Equals(StaticDetails.StatusReady) && User.IsInRole(StaticDetails.FrontDeskUser) || User.IsInRole(StaticDetails.ManagerUser))
            {
                <button type="submit" class="btn btn-success form-control">
                    <i class="far fa-thumbs-up"></i> Confirm Pickup
                </button>
            }
            else
            {
                <button type="submit" disabled class="btn btn-info form-control">@Model.OrderHeader.Status</button>
            }
        </div>
    </div>
</form>
