@model SpeedyFood.Models.ViewModels.OrderDetailsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    @if (Model.ShoppingCarts.Count > 0)
    {
        <br />
        <input type="hidden" id="userId" asp-for="@Model.ShoppingCarts[0]." />
        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fas fa-shopping-cart"></i> Shopping Cart
                        </div>
                        <div class="col-6 text-right">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index"
                               class="btn btn-outline-info btn-sm">
                                &nbsp; Continue Shopping
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model.ShoppingCarts)
                        {
                            <div class="row">
                                <div class="text-center d-none d-md-block col-md-2 py-2">
                                    <img src="@item.MenuItem.Image" class="rounded" width="120" height="80" />
                                </div>
                                <div class="col-12 text-sm-center col-md-5 text-md-left">
                                    <h4><strong>@item.MenuItem.Name</strong></h4>
                                    <h5><small>@item.MenuItem.Description</small></h5>
                                </div>
                                <div class="col-12 text-sm-center col-md-5 text-md-right row">
                                    <div class="col-4 text-md-right pt-1">
                                        <h6><strong>@item.MenuItem.Price <span class="text-muted">x</span> @item.Count </strong></h6>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-6">
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn btn-primary" asp-action="Plus"
                                                    asp-route-cartId="@item.Id">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn btn-danger" asp-action="Minus"
                                                    asp-route-cartId="@item.Id">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-4 col-md-2 text-right">
                                        <button type="submit" class="btn btn-outline-danger" asp-action="Remove"
                                                asp-route-cartId="@item.Id">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        }
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="row">
                                    <div class="col-7">
                                        <input placeholder="Coupon Code..." id="CouponCode" asp-for="@Model.OrderHeader.CouponCode" class="form-control" />
                                    </div>
                                    <div class="col-5">
                                        <button id="applyCoupon" type="submit" asp-action="ApplyCoupon"
                                                class="btn btn-sm btn-outline-success form-control">
                                            Apply
                                        </button>
                                        <button id="removeCoupon" type="submit" asp-action="RemoveCoupon"
                                                class="btn btn-sm btn-outline-danger form-control" style="display:none;">
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 offset-md-1 col-lg-4 offset-lg-3 pr-4">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span class="text-info"> Total (EGP) </span>
                                        <strong class="text-info"><span id="OrderTotal">@Model.OrderHeader.OrderTotal</span></strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-12 col-lg-4 offset-lg-8 col-md-6 offset-md-6">
                            <a asp-action="Summary" class="btn btn-success form-control">Summary</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="backgroundWhiteBorder">
            <p>No Items added to the Shopping Cart...</p>
        </div>
    }
</form>

@section Scripts{
    <script>
        $(function () {
            var couponCode = document.getElementById("CouponCode").value;
            if (couponCode.length > 0) {
                document.getElementById("applyCoupon").style.display = 'none';
                document.getElementById("removeCoupon").style.display = '';
            }
            else {
                document.getElementById("applyCoupon").style.display = '';
                document.getElementById("removeCoupon").style.display = 'none';
            }
        });
    </script>
}

